.cardWrapper {
  display: flex;
  padding: 16px 0;
  flex-direction: column;
  font-weight: 500;
  font-size: 24px;
  background-color: #ede8e2;
  border-radius: 8px;
}

.replicasetInfo {
  display: grid;
  grid-template-columns: auto auto auto auto 60px;
  grid-auto-flow: row;
  padding: 0 24px;
}

.infoColumn {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 24px;
  justify-content: center;
}

.noMargin {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
}

.infoValue {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}
