#root {
  width: 100%;
  margin: 0 auto;
}

.layout {
  display: grid;
  grid-template-rows: 104px auto;
  min-height: 100vh;
  background-color: #6b6b6b;
}

.bodyWrapper {
  padding: 0px 140px 0px 28px;
  width: 100%;
}

.layoutMain {
  display: flex;
}
