@import 'styles/vars';

.header {
  width: 100%;
  height: 48px;
  background: $colorBgGray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  padding-left: 40px;
}

.actions {
  padding: 0 16px;
}