.layoutMain {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  padding: 0 140px;
  min-width: fit-content;
}

.bodyWrapper {
  display: flex;
  flex-grow: 1;
}

.container {
  width: 100vw;
  min-width: 1440px;
  display: flex;
  flex-direction: column;
}
