@import 'styles/vars';
@import 'styles/mixins';

$column-item-vertical-padding: 4px;
$column-item-horizontal-padding: 8px;

$default-column-flex: 1;
$name-column-flex: 1.09;
$failure-domain-column-flex: 1.5;
$target-grade-column-flex: 0.74;
$current-grade-column-flex: 0.74;
$version-column-flex: 0.75;
$leader-height: 16px;

.cardWrapper {
  display: flex;
  flex-direction: column;
  padding: 8xp 16px;
  border-radius: 4px;
  box-shadow: $elevation1;
  position: relative;
  overflow: hidden;
}

.content {
  display: flex;
  justify-content: space-between;
  column-gap: 24px;
}

.infoColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: $default-column-flex;
}

.nameColumn {
  align-items: flex-start;
  justify-content: center;
  flex: $name-column-flex;
}

.failureDomainColumn {
  flex: $failure-domain-column-flex;
  overflow: hidden;
}

.binaryAddressColumn {
  overflow: hidden;
}

.targetGradeColumn {
  flex: $target-grade-column-flex;
}

.currentGradeColumn {
  flex: $current-grade-column-flex;
}

.versionColumn {
  flex: $version-column-flex;
}

.label {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: $colorTextBlack;
  padding: $column-item-vertical-padding $column-item-horizontal-padding;
}

.value {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: $colorTextBlack;
  padding: $column-item-vertical-padding $column-item-horizontal-padding;
}

.domainValue {
  display: flex;
  width: 100%;
  justify-content: center;
}

.targetGradeValue {
  padding: 0;
}

.currentGradeValue {
  padding: 0;
}

.primary {
  background-color: $colorLightGrey;

  @include animate(background-color);

  &:hover {
    background-color: darken($colorLightGrey, 3);
  }

  .content {
    padding: 8px calc(16px + $leader-height);
    column-gap: 24px;
  }
}

.secondary {
  background-color: $colorBgWhite;

  .content {
    padding: 8px calc(8px + $leader-height);
    column-gap: 16px;
  }
}

.leaderBlock {
  position: absolute;
  bottom: 0;
  left: $leader-height;
  height: $leader-height;
  width: 64px;
  background-color: $colorNotificationSuccess;
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
  color: $colorTextGrey;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transform-origin: bottom left;
  transform: rotate(-90deg);
}
