@import 'styles/vars';
@import 'styles/mixins';

$column-item-vertical-padding: 4px;
$column-item-horizontal-padding: 0;

$leader-height: 16px;

.cardWrapper {
  display: flex;
  border-radius: 4px;
  box-shadow: $elevation1;
  position: relative;
  overflow: hidden;
}

.content {
  display: flex;
  justify-content: space-between;
  column-gap: 8px;
  flex-grow: 1;
  align-items: center;
  min-height: 60px;
  padding: 0 16px;
}

.infoColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 0;
}

.hiddenColumn {
  overflow: hidden;
}

.nameColumn {
  align-items: flex-start;
  justify-content: center;
  max-width: fit-content;

  .label {
    text-align: left;
  }
}

.failureDomainColumn {
  flex: 1;
  max-width: fit-content;
  overflow: hidden;
}

.targetStateColumn {
  min-width: 95px;
}

.currentStateColumn {
  min-width: 95px;
}

.versionColumn {
  width: auto !important;
}

.joinedColumn {
  display: grid;
  align-items: start;
  grid-template-columns: auto auto;
  column-gap: 8px;
  max-width: max-content;
}

.label {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 24px;
  color: $colorTextBlack;
  padding: $column-item-vertical-padding $column-item-horizontal-padding;
}

.value {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: $colorTextBlack;
  padding: $column-item-vertical-padding $column-item-horizontal-padding;
  text-align: center;
}

.hiddenValue {
  width: 100%;
  display: grid;

  @include ellipsis;
}

.startValue {
  text-align: start;
}

.domainValue {
  display: flex;
  width: 100%;
  justify-content: center;
}

.targetStateValue {
  padding: 0;
}

.currentStateValue {
  padding: 0;
}

.primary {
  background-color: $colorLightGrey;

  @include animate(background-color);

  &:hover {
    background-color: darken($colorLightGrey, 3);
  }
}

.secondary {
  background-color: $colorBgWhite;
}

.leaderBlock {
  width: $leader-height;
  background-color: $colorNotificationSuccess;
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
  color: $colorTextGrey;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-lr;
  text-orientation: mixed;
}
