# Build & dependency folders
target/
venv/
node_modules/
__pycache__/

.rocks

# Saved panic backtraces
*.backtrace
# Snapshot and WAL storage of running instances
*.snap
*.xlog

tmp/
*.rustfmt
tags
test/manual/sql/*.json
**/libtestplug.so
**/libtestplug.dylib
**/libplug_wrong_version.so
**/libplug_wrong_version.dylib
.direnv
.envrc

# IDE configuration folders
.idea/
.vscode/
