[submodule "tarantool"]
	path = tarantool
	url = ../tarantool-module.git
	branch = picodata-24.4
[submodule "tarantool-sys"]
	path = tarantool-sys
	url = ../../tarantool.git
	ignore = dirty
	branch = picodata-24.4
[submodule "vshard"]
	path = vshard
	url = https://github.com/tarantool/vshard
[submodule "http"]
	path = http
	url = ../http.git
[submodule "picodata-webui"]
	path = picodata-webui
	url = ../picodata-webui.git
[submodule "sbroad"]
	path = sbroad
	url = ../sbroad.git
	branch = picodata-24.4
