# Build & dependency folders
target/
venv/
node_modules/
__pycache__/
.ruff_cache/

.rocks

# By default, we ignore snapshots, wal and saved backtraces
*.backtrace
*.snap
*.xlog
*.vylog
*.index
*.run
# But, for backwards compatibility tests, we have to save
# snapshots, memtx and vinyl WALs, runs and indexes, except
# this should happen only inside `test/compat` directory
!test/compat/**/*.snap
!test/compat/**/*.xlog
!test/compat/**/*.vylog
!test/compat/**/*.run
!test/compat/**/*.index

tmp/
*.rustfmt
tags
test/manual/sql/*.json
**/libtestplug.so
**/libtestplug.dylib
**/libplug_wrong_version.so
**/libplug_wrong_version.dylib
.direnv
.envrc

# IDE configuration folders
.idea/
.vscode/
