[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "==1.5.3"
mkdocs-material = "==9.4.8"
mkdocs-open-in-new-tab = "==1.0.3"
pygments = "==2.17.2"

[dev-packages]
flake8 = "*"
black = "*"
mypy = "*"
types-markdown = "*"

[requires]
python_version = "3.12"

[scripts]
serve = "mkdocs serve"
build = "mkdocs build -s"
lint = """
  bash -c "
    flake8 hooks --max-line-length 99
    black hooks --check --diff --line-length 99
    mypy hooks
  "
"""
fmt = "black hooks --line-length 99"
