@import 'styles/vars';

.container {
  background-color: $colorBgWhite;
  border-radius: 16px;
  box-shadow:
    0px 6px 8px 0px rgba(131, 131, 131, 0.12),
    0px 0px 4px 0px rgba(131, 131, 131, 0.4);
}
