.clipIcon {
  display: flex;
  flex-direction: column;
  width: 16px;
  height: 16px;
  overflow: hidden;

  cursor: pointer;

  .iconCopy {
    position: absolute;
    pointer-events: none;

    transition: transform 200ms, opacity 200ms;

    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  .iconCopied {
    @extend .iconCopy;

    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  &.copied {
    cursor: auto;

    .iconCopy {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
    .iconCopied {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}

.inline {
  display: flex;
  flex-wrap: nowrap;
}