@import 'styles/vars';
@import 'styles/mixins';

.instanceWrapper {
  display: flex;
  column-gap: 24px;
  border: 1px solid $colorBgGray;
  border-radius: 16px;
  padding: 8px 40px;
  cursor: pointer;
}

.infoColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 19%;
  overflow: hidden;
}

.targetGradeColumn {
  flex-basis: 16.5%;
}

.currentGradeColumn {
  flex-basis: 17.5%;
}

.domainColumn {
  flex-basis: 33%;
}

.versionColumn {
  flex-basis: 14%;
}

.label {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: $colorTextBlack;
  padding: 8px 16px;
}

.value {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: $colorTextBlack;
  padding: 8px 16px;

  @include ellipsis;
}

.leaderIcon {
  margin-left: 8px;
}

.primary {
  background-color: $colorBgWhite;

  @include animate(background-color);

  &:hover {
    background-color: darken($colorBgWhite, 3);
  }
}

.secondary {
  background-color: #dedfe1;

  @include animate(background-color);

  &:hover {
    background-color: lighten(#dedfe1, 3);
  }

  .value {
    font-size: 24px;
    line-height: 30px;
  }
}
