.instancesWrapper {
}

.instanceWrapper {
  border-radius: 8px;
  display: grid;
  grid-template-columns: 180px auto auto auto auto;
  grid-auto-flow: row;
  padding: 16px 40px;
  border: 1px solid #323232;
  font-size: 16px;
}

.primary {
  background: white;
}

.secondary {
  background: #dedfe1;
}

.infoColumn {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: flex-start;
}

.noMargin {
  margin: 0;
}

.instanceInfo {
  margin: 0;
  font-weight: 600;
}

.instanceNameLabel {
  display: flex;
  align-items: center;
}

.leaderIcon {
  margin-left: 8px;
}

.instanceNameBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
