@import 'styles/vars';
@import 'styles/mixins';

.container {
  display: inline-flex;
  column-gap: 4px;
  align-items: center;
}

.row {
  display: flex;
  align-items: center;
  column-gap: 2px;
}

.icon {
  flex-shrink: 0;
}

.text {
  flex-shrink: 0;
}
