@import 'styles/vars';

$list-horizontal-padding: 16px;
$list-horizontal-margin: 8px;
$content-horizontal-indent: calc($list-horizontal-padding + $list-horizontal-margin);
$vertical-indent: 16px;

.gridWrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.topBar {
  margin: $vertical-indent $content-horizontal-indent;
}

.list {
  display: flex;
  flex-direction: column;
  gap: $vertical-indent;
  flex-grow: 1;
  overflow: scroll;
  padding: 0 $list-horizontal-padding;
  margin: 0 $list-horizontal-margin;
  padding-bottom: 40px;
}
