@import 'styles/vars';

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: $colorBgLight;
  padding-top: 40px;
  padding-right: 140px;
  padding-left: 28px;
  padding-bottom: 64px;
}
