.wrapper {
  display: flex;
  border-radius: 16px;
  gap: 80px;
}

.button {
  background: #f7ad4e;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 40px;
  max-width: 160px;
  width: 100%;
  font-family: Montserrat;
  font-size: 20px;
}

.searchBar {
  max-width: 324px;
  width: 100%;
  border-radius: 4px;
  border: none;
  height: 56px;
  padding: 0;
  font-family: Montserrat;
  font-size: 16px;
  padding: 0px 20px;
}

.buttonsWrapper {
  display: flex;
  width: 100%;
  gap: 16px;

  align-items: center;
}
