@import 'styles/vars';
@import 'styles/mixins';

$card-vertical-padding: 8px;
$card-horizontal-padding: 24px;
$column-horizontal-padding: 24px;

.cardWrapper {
  display: flex;
  flex-direction: column;
  padding: $card-vertical-padding $card-horizontal-padding;
  border-radius: 16px;
  background-color: $colorBgBeige;
  box-shadow: $elevation1;
  cursor: pointer;

  @include animate(background-color);

  &:hover {
    background-color: darken($colorBgBeige, 3);
  }
}

.tierInfo {
  display: flex;
  justify-content: space-between;
}

.infoColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  flex-basis: 21%;
  padding: 8px $column-horizontal-padding;
}

.nameColumn {
  align-items: flex-start;
}

.chevronColumn {
  justify-content: center;
  flex-basis: 6%;
}

.label {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: $colorTextBlack;
}

.infoValue {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  color: $colorTextBlack;
}

.chevronIcon {
  color: $colorTextBlack;

  @include animate(transform);
}

.chevronIconOpen {
  transform: rotate(-180deg);
}
