@import 'styles/vars';

.body {
  background-color: $colorBgWhite;
  border-radius: 4px;
  padding: 40px 24px;
  box-shadow:
    0px 6px 8px 0px rgba(131, 131, 131, 0.12),
    0px 0px 4px 0px rgba(131, 131, 131, 0.4);
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.titleText {
  font-size: 24px;
  font-weight: 600;
  align-items: center;
  gap: 8px;
  justify-content: center;
  display: flex;
}

.closeIcon {
  cursor: pointer;
}
