#!/usr/bin/make -f
#export DH_VERBOSE = 1

build_dir=debian/PKG_NAME
PKG_PREFIX=/usr/bin/PKG_NAME

override_dh_auto_clean:
	echo "Nothing to clean on build"

override_dh_auto_build:
	sudo mkdir -p -m 777 $(HOME)
	make install-cargo
	make build-release-pkg
ifeq ($(USE_DYNAMIC_BUILD),1)
	make sbom
	mv -v picodata.cdx.json ../../build_*/
endif

override_dh_auto_test: ;

# Turn off strip'ng of binaries
.PHONY: override_dh_strip
override_dh_strip:
	dh_strip --exclude=picodata --exclude=gostech-audit-log

%:
	dh $@
