// Typography
$colorTextBlack: #050505;
$colorTextGrey: #848484;
$colorTextOrange: #f7941d;
$colorTextDisabled: #c5c0db;

// Bg
$colorBgWhite: #ffffff;
$colorBgNormal: #f7ad4e;
$colorBgLight: #f3eee9;
$colorBgGray: #323232;
$colorBgGrey: #e8e8e9;
$colorBgBeige: #ede9e3;
$colorBgTabs: #fdfdfd;
$colorBgTableLine: #f5f5f3;

// Buttons
$colorButtonText: #050505;

// Fields
$colorFieldForm: #f9f5f2;
$colorFieldText: #1f1f1f;
$colorFieldTextMain: #060606;
$colorFieldTextNormal: #848484;
$colorFieldDisabled: #f8f9fb;
$colorFieldStroke: #4f4f4f;
$colorFieldStrokeNormal: #cecdcd;

// Common

// Primary
$colorPrimary: #f7ad4e;
$colorPrimaryHover: #f7941d;
$colorPrimarySelected: #dd7900;
$colorPrimaryDisabled: #ffba79;

$colorSecondary: #e8ebf1;
$colorSecondaryHover: #e8ebf1;
$colorSecondarySelected: #d0d4db;
$colorSecondaryDisabled: #e8ebf1;

$colorLightGrey: #efeef2;

// Notifications
$colorNotificationSuccess: #c0ecd4;
