// Typography
$colorTextBlack: #050505;
$colorTextGrey: #848484;
$colorTextOrange: #f7941d;

// Bg
$colorBgWhite: #ffffff;

// Fields
$colorFieldForm: #f9f5f2;

// Common

// Primary
$colorPrimary: #f7ad4e;
$colorPrimaryHover: #f7941d;
$colorPrimarySelected: #dd7900;
$colorPrimaryDisabled: #ffba79;

$colorSecondary: #e8ebf1;
$colorSecondaryHover: #e8ebf1;
$colorSecondarySelected: #d0d4db;
$colorSecondaryDisabled: #e8ebf1;
