@import 'normalize.css';

@import './vars';
@import './mixins';

:root {
  font-family: Montserrat, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html,
body,
#root {
  overflow: auto;
  width: 100%;
  height: 100%;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
